.img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    object-fit: contain;
}

.carousel {
    display: flex;
    width: 80%;
    height: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px; /* Adjust this to control container width */
    height: 400px; /* Adjust this to control container height */
}

.project-description {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.car1-button {
    margin-right: 10px;
}

.car2-button {
    margin-left: 10px;
}

